@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* For hsl(198deg 93% 60% / <alpha-value>) */

  --black: 237deg 100% 4%;
  --veryDarkGreyDarkBg: 235deg 16% 15%;
  --darkGrey: 235deg 12% 19%;
  --linesDark: 235deg 12% 27%;
  --mediumGrey: 216deg 15% 57%;
  --linesLight: 221deg 69% 94%;
  --lightGreyLightBg: 220deg 69% 97%;
  --white: 0deg 0% 100%;
  --mainPurple: 242deg 48% 58%;
  --mainPurpleHover: 242deg 100% 82%;
  --red: 0deg 78% 63%;
  --redHover: 0deg 100% 80%;
  --mainPurpleSecondary: 245deg 52% 96%;
}
:root[data-theme="dark"] {
  --black: 0deg 0% 100%;
  --veryDarkGreyDarkBg: 235deg 16% 15%;
  --darkGrey: 235deg 12% 19%;
  --linesDark: 235deg 12% 27%;
  --mediumGrey: 216deg 15% 57%;
  --linesLight: 235deg 12% 27%;
  --lightGreyLightBg: 235deg 16% 15%;
  --white: 235deg 12% 19%;
  --mainPurple: 242deg 48% 58%;
  --mainPurpleHover: 242deg 100% 82%;
  --red: 0deg 78% 63%;
  --redHover: 0deg 100% 80%;
  --mainPurpleSecondary: 0deg 0% 100%;

  /* Styles for dark theme */
}
input {
  font-size: small;
}
html[data-theme="dark"] input,
textarea {
  background-color: var(--darkGrey);
  color: white;
}
html[data-theme="dark"] #modal-overlay {
  background-color: hsl(var(--black) / 0.3);
}

html[data-theme="dark"] #logo-mark {
  fill: white;
}
html[data-theme="dark"] #new-col {
  background-color: #2b2c37;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
html[data-theme="dark"] li[data-active="true"] {
  color: white;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}
